body {
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  padding: 10px;
}
.knockout {
  
  vertical-align: middle;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size:50pt;
  color: blue;
  color: #fff;
  background: linear-gradient(110deg, #adb1ff 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #e7c5e2 34%, #d88888 34%);
  background-size: 400%;
   -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.knockout{
    animation: Gradient 5s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 30% 50%
  }
  50% {
    background-position: 25% 50%
  }
  100% {
    background-position: 30% 50%
  }
  
}

.heart {
  height: 50vh;
  width: 50vh;
  background-position: center;
  background-size: contain;
  background-image: url(https://64.media.tumblr.com/472aff103e69c27e53206744969964f2/tumblr_mkyzswn11d1qg6rkio1_500.gifv);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-image: url(./imgs/emoji.gif);
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(226, 159, 159);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(226, 159, 159);
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(204, 153, 153);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Pacifico', cursive;
  color: #d88888;
  font-size: 2rem;
}